<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Product Catalog</h1>
  <h4>Click on the buttons to view, edit, delete, or create a new product</h3>
    <div class="col-md-1">
      Picture
    </div>
    <div class="col-md-1">
      Title
    </div>
    <div class="col-md-6">
      Description
    </div>
    <div class="col-md-2">
      Category
    </div>
    <div class="col-md-2">
      Price
    </div>

</div>
<% @products.each do |product| %>
  <div class="row">
    <div class="entry">
      <div class="col-md-1">
        <%= image_tag(product.image_url, class:"list_image") %>
      </div>
      <div class="col-md-2">
        <%= product.title %>
      </div>
      <div class="col-md-5">
        <%= product.description %>
      </div>
      <div class="col-md-2">
        <%= product.category %>
      </div>
      <div class="col-md-2">
        <%= product.price %>
      </div>
      <br>
    </div>
    <%= link_to 'Show', product, class:"btn btn-primary btn-sm" %>
    <%= link_to 'Edit', edit_product_path(product), class:"btn btn-warning btn-sm" %>
    <%= link_to 'Delete', product ,class:"btn btn-danger btn-sm", method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>

<br>

<div class="row">
  <%= link_to fa_icon("plus") + " New Product", new_product_path, class:"btn btn-success btn" %>
</div>

<br>
