<p id="notice"><%= notice %></p>

<h1>Viewing Individual Product</h1>

<div class="row" id="viewItem">
  <div class="col-md-2">
    <strong>Title</strong><br>
    <%= @product.title %>
  </div>
  <div class="col-md-4">
    <strong>Description</strong><br>
    <%= @product.description %>
  </div>
  <div class="col-md-2">
    <strong>Category</strong><br>
    <%= @product.category %>
  </div>
  <div class="col-md-2">
    <strong>Image_URL</strong><br>
    <%= @product.image_url %>
  </div>
  <div class="col-md-2">
    <strong>Price</strong><br>
    <%= @product.price %>
  </div>
</div>
<br>
<br>
<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-warning" %> |
<%= link_to 'Back', products_path, class:"btn btn-primary" %>
