<!DOCTYPE html>
<html>
<head>
  <title>BookstoreOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bookstore On Rails</a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-10 <%= controller.controller_name %>">
        <%= yield %>
      </div>
      <div class="col-md-2" id="sideBar">
      </div>
    </div>
  </div>
</body>
</html>
